.effect {
    background-image: url("../img/8.jpg");
    @extend %backgroundImg;
    padding: 150px 0;
    display: flex;
    align-items: center;
    text-align: center;
    .effect-content {
        margin: auto;
        .effect-text {
            p {
                letter-spacing: $letter-spacing-2 + 1;
                font-size: $fs-0 + 1;
                color: $color-yellow-0;
                text-transform: uppercase;
                margin: 0;
            }
            h1 {
                margin-bottom: 0;
                letter-spacing: $letter-spacing-2;
                text-transform: uppercase;
                @include styleText($fs-5 + 1, $fw-2, $color-white-0);
            }
        }
        .effect-button {
            margin-top: 50px;
        }
    }
}
@include responsive("medium") {
    .effect {
        .effect-content {
            .effect-text {
                h1 {
                    font-size: $fs-4 - 4;
                }
            }
            .effect-button {
                .button--yellow{
                    font-size: $fs-0 - 3;
                }
            }
        }
    }
}
